body {
	 background: url("../Images/Cave.jpg");
	 border-width: 100px;
}

/* images sizing*/
.crystal{ 
        width: 200px;
        height: 200px;
        margin: 5px;

		}
.crystal img {
    height: 200px;
    width: 200px;
}

/*Jumbotron header #CF8310*/
.jumbotron {
	width: 45%;
    margin-left: 19px;
    text-align: center;
    background-color: #02FAFE;
    color: #030F88;
    margin-top: 20px;
}
/* Font size*/
h1 {
	font-size: 20px;
}

/* Main instructions game #FCD59A*/
.instruct {
	background-color: #02FAFE;
    width: 50%;
    margin-left: 19px;
    color: #030F88;
    font-size: 18px;
    padding: 10px;
}

/* Bottom total score box #2CB07B*/
#total {
	background-color: #02FAFE;
	margin-left: 19px;
	color: #030F88;
	width: 25%;
    padding: 40px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
}

#scoreM{
	background-color: #02FAFE;
    margin-left: 19px;
    color: #030F88;
    width: 25%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    
}


