body {
	 background: url("../Images/green.png");
	 border-width: 100px;
}

/* images sizing*/
.crystal{ 
        width: 200px;
        height: 200px;
        margin: 5px;

		}
.crystal img {
    height: 200px;
    width: 200px;
}

/*Jumbotron header*/
.jumbotron {
	width: 45%;
    margin-left: 19px;
    text-align: center;
    background-color: #CF8310;
    color: white;
    margin-top: 20px;
}
/* Font size*/
h1 {
	font-size: 20px;
}

/* Main instructions game*/
.instruct {
	background-color: #FCD59A;
    width: 50%;
    margin-left: 19px;
    color: green;
    font-size: 18px;
    padding: 10px;
}

/* Bottom total score box*/
#total {
	background-color: #2CB07B;
	margin-left: 19px;
	color: white;
	width: 25%;
    padding: 40px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
}

#scoreM{
	background-color: #2CB07B;
    margin-left: 19px;
    color: white;
    width: 25%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    
}


