body {
	 background: url("../images/concrete.png");
	 border-width: 100px;
}

/* images sizing*/
.crystal{
			background: lightblue;
			width: 200px;
			height: 200px;
			margin: 5px;
		}
/*Jumbotron header*/
.jumbotron {
	width: 45%;
    margin-left: 19px;
    text-align: center;
    background-color: #CF8310;
    color: white;
    margin-top: 20px;
}
/* Font size*/
h1 {
	font-size: 20px;
}

/* Main instructions game*/
.instruct {
	background-color: #FCD59A;
    width: 50%;
    margin-left: 19px;
    color: green;
    font-size: 18px;
}

/* Bottom total score box*/
#total {
	background-color: #2CB07B;
	margin-left: 19px;
	color: white;
	width: 25%;
	padding: 30px;
    margin-top: 10px;
}

#scoreM{
	background-color: #2CB07B;
    margin-left: 19px;
    color: white;
    width: 25%;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}


